.blood-card {
  border: 2px solid #dc3545;
  border-radius: 15px;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  background-color: #fff8f8;
  height: 100px;
  width: 100px;
}
#available{
    position: relative;
    top: 150px;
}
#avai{
  position: relative;
  top: 50px;
  left:23%;
}
.blood-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(220, 53, 69, 0.3);
}

h3 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
}

