/* ===== Page Background ===== */
.login-page {
  height: 100vh;
  width: 100%;
  /* background: radial-gradient(circle at top left, #ff5c5c, #6b0000); */
   background: url("./src/assets/screenimg1.webp") center/cover no-repeat; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.background-blur {
  position: absolute;
  inset: 0;
 
  filter: blur(8px) brightness(0.5);
  z-index: 0;
}

/* ===== Card Styling ===== */
.login-card {
  position: relative;
  top: 30px;
  z-index: 1;
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 40px rgba(255, 0, 0, 0.3);
  transition: transform 0.3s ease;
  text-align: center;
  color: #fff;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  position: relative;
  bottom: 50px;
}

.subtitle {
  font-size: 0.95rem;
  opacity: 0.8;
  margin-bottom: 30px;
}

/* ===== Floating Labels ===== */
.form-group {
  position: relative;
  margin-bottom: 25px;
}

.form-group input {
  width: 100%;
  padding: 12px 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  outline: none;
  color: #fff;
  font-size: 1rem;
  transition: 0.3s;
}

.form-group label {
  position: absolute;
  left: 10px;
  top: 12px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease;
}

.form-group input:focus,
.form-group input:valid {
  border-color: #ff3b3b;
}

.form-group input:focus ~ label,
.form-group input:valid ~ label {
  top: -10px;
  left: 5px;
  font-size: 0.8rem;
  color: #ff3b3b;
}

/* ===== Error Message ===== */
.error {
  color: #ffb3b3;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

/* ===== Button ===== */
.btn-login {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #ff1a1a, #b30000);
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s ease;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
}

.btn-login:hover {
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.7);
  transform: scale(1.05);
}

/* ===== Responsive ===== */
@media (max-width: 500px) {
  .login-card {
    width: 90%;
    padding: 30px;
  }

  .title {
    font-size: 1.6rem;
  }
}
