.name-input {
  width: 100%;
  padding: 4px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.review-container{
  /* margin-top: 15%; */
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color:whitesmoke;
  padding: 5px;
  justify-self:end;
}
.review-container h2{
  text-align: center;
  color: #440000;
}
#comment-box {
  width: 100%;
  height: 41px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
#subm-button {
  background-color: #440000;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 30%;  
}

.star {
  font-size: 22px;
  cursor: pointer;
  color: #ccc; 
  transition: color 0.2s;
}

.star.filled {
  color: rgb(252, 219, 36); 
}
