.footer {
  background: #440000;
  color: #fff;
  text-align: center;
  margin-top: 40px;
}

#footerimg {
  width: 110px;
  height: 60px;
  position: relative;
  right: 45%;
  top: 40px;
  
}

.footer-title {
  font-size: 1.4rem;
  color: white;
  position: relative;
  right: 35%;
}

.footer-desc {
  font-size: 0.95rem;
  max-width: 300px;
  position: relative;
}
.footer-menu {
  list-style: none;
  position: relative;
  right: 17%;
  bottom: 100px;

}
.footer-menu a {
  color: #ffcccc;
  text-decoration: none;
  font-size: 1rem;
}

.footer-menu a:hover {
  color: #fff;
  text-decoration: underline;
}

#year{
  position: relative;
  bottom: 30px;
}



