.footer {
  background: #440000;
  color: #fff;
  text-align: center;
  margin-top: 40px;
  padding: 15px;
}

.fbox{
  display: flex;
}

#footerimg {
  width: 110px;
  height: 60px;
}

.footer-title {
  font-size: 1.4rem;
  color: white;
  padding-top: 15px;
}

.footer-desc {
  font-size: 0.95rem;
  max-width: 300px;

}
.footer-menu {
  list-style: none;
  padding-top: 15px;
 
}
.footer-menu a {
  color: #ffcccc;
  text-decoration: none;
  font-size: 1rem;
}
.footer-t{
  display: flex;
}
.footer-menu a:hover {
  color: #fff;
  text-decoration: underline;
}



@media (max-width:769px){
  .footer-menu{
    position: relative;
    /* left:"500px", */
  }
}

@media (max-width:426px){
  
  .fbox{
    display: flex;
    flex-direction: column;
     justify-self: center;
   
  }
}

/* ----------- REVIEW FORM ------------- */

.review-container {
  /* margin-top: 10%; */
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 3px;
  justify-items:start;
  margin-left: auto;
}

.review-container h2 {
  justify-items:center;
  color: #440000;
}

.name-input {
  width: 100%;
  padding: 4px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

#comment-box {
  width: 100%;
  height: 41px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

#subm-button {
  background-color: #440000;
  color: white;
  padding: 3px 20px;
  border: none;
  border-radius: 5px;
  margin: 10px auto;
  display: block;
}

/* Star Rating */
.star {
  font-size: 22px;
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s;
}

.star.filled {
  color: rgb(252, 219, 36);
}

.footer-menu li a svg {
  margin-right: 8px;
  vertical-align: middle;
}

.footer-menu li a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-menu li a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-menu li a svg {
  margin-right: 5px;
  vertical-align: middle;
}




