.footer {
  background: #440000;
  color: #fff;
  text-align: center;
  margin-top: 40px;
  padding: 15px;
}

.fbox{
  display: flex;
}

#footerimg {
  width: 110px;
  height: 60px;
}

.footer-title {
  font-size: 1.4rem;
  color: white;
  padding-top: 15px;
}

.footer-desc {
  font-size: 0.95rem;
  max-width: 300px;

}
.footer-menu {
  list-style: none;
  padding-top: 15px;
 
}
.footer-menu a {
  color: #ffcccc;
  text-decoration: none;
  font-size: 1rem;
}
.footer-t{
  display: flex;
}
.footer-menu a:hover {
  color: #fff;
  text-decoration: underline;
}



@media (max-width:769px){
  .footer-menu{
    position: relative;
    /* left:"500px", */
  }
}

@media (max-width:426px){
  
  .fbox{
    display: flex;
    flex-direction: column;
     justify-self: center;
   
  }
}





